@import '../variables.scss';
@import url("https://use.typekit.net/djo7qmi.css");

.container{
    font-family: $main-font;
    background: linear-gradient(90deg, rgba(40,90,125,1) 0%, rgba(145,220,225,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: rgba(40,90,125,1);
}
.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.bgSlide img{
    display: inline-block;
}
.hero{
    background: none;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    .logoBox{
        position: relative;
        width: 40%;
        height: 100%;
    }
    .title{
        font-family: 'ivypresto-display', serif;
        margin-top: 50px;
        font-size: 3rem;
        text-align: center;
    }
    
    .arrow{
        position: relative;
        bottom: 30px;
        min-width: 30px;
        min-height: 30px;
        transform: rotate(45deg);
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .button{
        width: 70%;
    }
}
.contentWrapper{
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
    padding: 1rem 3.5rem;
    font-weight: 500;
    max-width: 1200px;

    @media (max-width: 768px){
        padding: 1rem 0;
        max-width: 100%;
    }

    .contentBox{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        text-align: center;

        @media (max-width: 768px){
            padding: 3rem 0;
            margin: 2rem;
            max-width: 100%;
        }

        .sectionTitle{
            font-family: 'ivypresto-display', serif;
            margin: 20px 0;
            font-size: 2.4rem;
            text-transform: uppercase;
        }

        .infoBox{
            .sectionTitle{
                margin: 0;
            }

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            max-width: 1200px;

            @media (max-width: 768px){
                max-width: 100%;
            }

            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .cardName{
                    font-family: 'ivypresto-display', serif;
                    font-size: 2rem;
                }

                padding: 2.5rem;
                background-color: rgba(255, 255, 255, .5);
                border-radius: 2px;
            }

            .card.desc{
                grid-column-end: span 3;
            }
        }

        .speakersBox{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;

            .card {
                padding: 2.5rem;
                background-color: rgba(255, 255, 255, .5);
                border-radius: 2px;

                .cardName{
                    font-family: 'ivypresto-display', serif;
                    font-size: 2rem;
                }
             }
     
            //  .card:last-child{
            //      grid-column-start: 2;
            //  }

            @media (max-width: 1024px){
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .card{
                    grid-column: span 2;
                }

                // .card:last-child{
                //     grid-column-end: 4;
                //     grid-column-start: 2;
                // }
            }

            @media (max-width: 768px){
                grid-template-columns: 1fr;

                .card:last-child{
                    grid-column: span 2;
                }
            }
        }

        p{
            margin: 1rem 0;
        }

        .moreBox{
            margin-top: 5rem;
            font-weight: 600;
        }

        .planBox{
            width: 100%;
            padding: 1.5rem;
            background-color: rgba(255, 255, 255, .5);

            .dayHeader{
                font-family: 'ivypresto-display', serif;
                font-size: 2rem;
            }

            .planItemBox{
                margin: 1.2rem;
                .planItemTitle{
                    font-weight: 500;
                    font-size: 1.8rem;

                    .time{
                        font-weight: 900;
                        margin-right: .5rem;
                    }
                }

                .planItemDesc{
                    font-weight: 200;
                    font-style: italic;
                }
                
            }
        }

    }
}

.button{
    text-decoration: none;
    font-family: 'ivypresto-display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 50px 3.5rem;
    font-size: 1.8rem;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid white;
    color: white;
    transition: all .3s ease-out;
    &:hover{
        background: white;
        color: rgba(40,90,125,1);
        border: 2px solid #fff;
    }
}
