@import url("https://use.typekit.net/djo7qmi.css");
.container{
    font-family: 'ivypresto-display', serif;
    background: linear-gradient(90deg, rgba(40,90,125,1) 0%, rgba(145,220,225,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.hero{
    background: none;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    .logoBox{
        position: relative;
        width: 40%;
        height: 100%;
    }
    .title{
        margin-top: 6%;
        font-size: 3rem;
        text-align: center;
    }
    .placeAndTime{
        font-size: 2.5rem;
        margin-bottom: 6%;

        div{
            display: inline-block;
        }

        .line{
            margin: 0 .5rem;
            width: 6rem;
            border-bottom: 2px solid white;
        }
    }
}
.contentWrapper{
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    padding: 3.5rem;
    font-weight: 300;
    max-width: 1200px;

    .contentBox{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        background-color: white;
        padding: 3rem;
        text-align: center;

        .speakersBox{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 15px;
            grid-row-gap: 15px;

            .card {
                padding: 1.5rem;
                background-color: rgba(145,220,225,1);
                border-radius: 1rem;
             }
     
            //  .card:last-child{
            //      grid-column-start: 2;
            //  }

            @media (max-width: 1024px){
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .card{
                    grid-column: span 2;
                }

                // .card:last-child{
                //     grid-column-end: 4;
                //     grid-column-start: 2;
                // }
            }

            @media (max-width: 768px){
                grid-template-columns: 1fr;

                .card:last-child{
                    grid-column: span 2;
                }
            }
        }

        p{
            margin: 1rem 0;
        }

        .moreBox{
            margin-top: 5rem;
            font-weight: 600;
        }

    }
}

.button{
    text-decoration: none;
    font-family: 'ivypresto-display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.2em;
    width: 180px;
    font-size: 1rem;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgba(40,90,125,1);
    color: rgba(40,90,125,1);
    background: #fff;
    transition: all .3s ease-out;
    &:hover{
        background: rgba(40,90,125,1);
        color: #fff;
        border: 2px solid #fff;
    }
}