@import './variables.scss';

.wrapper{
  font-size: 12px;
  font-weight: 900;
  color: $dark-color;
  margin: 20px 0;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  display: inline-block;
  border: 4px solid $dark-color;
  background-color: $light-color;

  &.light{
    color: $light-color;
    border: 4px solid $light-color;
    background-color: $dark-color;
  }

  a &{
    text-decoration: none;
  }
}