@import './variables.scss';

.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: #23665A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../public/kidsBG.png');
  background-size: cover;
  .overlay{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $dark-color, $alpha: 0.55);
  }
  .imageBox{
    margin: 0 20px;
    position: relative;
    width: 21%;
    height: auto;
  }
}
.info{
  margin: 75px 10%;
  width: 37%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $light-color;
  .header{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .description{
    font-size: 16px;
    margin-bottom: 16px;
  }
}