@import './variables.scss';

.navbar{
  padding: 30px 150px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logoBox{
  position: relative;
  width: 10em;
  height: auto;
}

.links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  a{
    font-family: $main-font;
    text-decoration: none;
    color: $dark-color;
    &:hover{
      text-decoration: underline;
    }
  }
  li{
    text-transform: uppercase;
    padding: 3px 12px;
  }
  li:last-child{
    padding-right: 0;
  }
}