@import './variables.scss';

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 31, 32, .9);
}
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  width: 80vw;
  height: 80vh;
  min-height: 33vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @media (min-width: 769px){
    width: 60vw;
    height: 60vh;
  }
}