@import './variables.scss';

.wrapper{
  padding: 20px;
}

.light{
  background-color: $light_color;
}

.dark{
  background-color: $dark_color;
}

.name{
  text-transform: uppercase;
  color: $main1;
}

.header{
  font-size: 3rem;
  text-transform: uppercase;
}

.content{
  font-size: 1.4rem;
}