@import './variables.scss';

.wrapper{
  padding: 10px;
}

.light{
  background-color: rgba($light_color, .8);
}

.dark{
  background-color: rgba($dark_color, .8);
}

.name{
  text-transform: uppercase;
  color: $main1;
}

.header{
  font-size: 3rem;
  text-transform: uppercase;
}

.content{
  font-size: 1.4rem;
}