$dark-color: #231F20;
$light-color: #E8E3E0;
$main1: #49A9DF;
$main2: #FF5B45;
$main3: #23665A;
$kids-bg: #265F91;
$kids1: #D7E5E5;
$kids2: #EAD772;
$kids3: #F7D3C6;
$kids4: #D6DBCC;
$kids5: #C0CDD5;
$main-font: neue-haas-grotesk-display, sans-serif;
$secondary-font: source-serif-4, serif;